#rename file as .env to run as standalone API
PORT=3001
APP_DATABASE_URL="postgresql://appuser:apppass@localhost:5432/appdb"
JWT_SECRET='abasiccatdangerouslyelopedinthemorning'
LOG_LEVEL=debug
NODE_ENV=development